.mp-report-grid {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
}
.mp-report-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mp-report-block-img {
  width: 200px;
  height: 300px;
}
.mp-report-block-img img {
  height: 100%;
  width: 100%;
}

.mp-report-block-text {
  margin-top: 20px;
  width: 200px;
}
.mp-report-block-text span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
}

.mp-report-load {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  border-radius: 10px;
  background: #ddd;
}
.mp-report-load span {
  cursor: pointer;
  color: #000;
  text-align: center;

  /* Header Text Style */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 2560px) {
  .mp-report-block-img {
    width: 400px;
    height: 600px;
  }
  .mp-report-block-text {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .mp-report-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .mp-report-block-img {
    width: 150px;
    height: 250px;
  }
}

@media screen and (max-width: 480px) {
  .mp-report-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
