.asb {
    display: flex;
  }
  .asb-left {
    width: 20%;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: scroll;
    
  }
  .asb-right {
    width: 80%;
    margin-top: 15px;
    background: #fafafa;
    border-radius: 20px;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: scroll;
  }
  
  
  @media screen and (max-width: 1024px){
    .asb-left{
      display: none;
    }
  
    .asb-right{
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }